* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Farsan-Regular";
    background-color: beige;
}

@font-face {
    font-family: "Farsan-Regular";
    src: url("../fuente/Farsan/Farsan-Regular.ttf");
}

/*header*/
header {
    margin: 0;
}

.logonav {
    width: 70px;
    border-radius: 50%;
}

.fondoNav {
    background-color: rgb(181, 171, 146);
}

h1 {
    color: rgb(142, 131, 120);
    text-align: center;
    font-style: bold;
    font-size: 2rem;
    margin: 20px
}

/*main*/

.grillaContainer {
    justify-content: center;
    background-color: rgb(192, 171, 171);
    display: flex;
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "lista uno dos";
}

.caja {
    align-content: center;
    justify-content: center;
}

.lista {
    grid-area: lista;
    align-self: center;
    justify-self: center;
}

.uno {
    grid-area: uno;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
}

.dos {
    grid-area: dos;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
}

.nails {
    width: 300px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
}

.video {
    width: 300px;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 768px) {
    .grillaContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "lista uno"
            "dos dos";
    }

    .titulo {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

}
@media screen and (max-width: 480px) {
    .grillaContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "lista"
            "uno"
            "dos";
    }

    .titulo {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

}

h2 {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

/*footer*/
footer {
    text-align: center;
    background-color: rgb(181, 171, 146);
}

.menufooter {
    list-style: none;
    margin: 20px auto;
    text-align: center;
}

.menufooter li {
    display: inline-block;
    text-align: center;
}

.menufooter li a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
}
.servicios {
    width: 300px;
}

.perfil {
    width: 300px;
}

.contacto {
    width: 300px;
}

.redes {
    width: 30px;
}